#
# esphttpd
#
CONFIG_ESPHTTPD_ENABLED=y
CONFIG_ESPHTTPD_STACK_SIZE=8192
# CONFIG_ESPHTTPD_PROC_AFFINITY is not set
CONFIG_ESPHTTPD_PROC_PRI=5
# CONFIG_ESPHTTPD_SHUTDOWN_SUPPORT is not set
# CONFIG_ESPHTTPD_CORS_SUPPORT is not set
# CONFIG_ESPHTTPD_USE_ESPFS is not set
# CONFIG_ESPHTTPD_SO_REUSEADDR is not set
CONFIG_ESPHTTPD_TCP_NODELAY=y
# CONFIG_ESPHTTPD_SSL_SUPPORT is not set
# CONFIG_ESPHTTPD_BACKLOG_SUPPORT is not set
CONFIG_ESPHTTPD_SANITIZE_URLS=y
# CONFIG_ESPHTTPD_SINGLE_REQUEST is not set
# CONFIG_ESPHTTPD_ALLOW_OTA_FACTORY_APP is not set
# end of esphttpd
